@CHARSET "UTF-8";
body{
	margin:0;
	padding:0;
}
/*header*/
#header{
	height: 95px;
	text-align: center;
	text-transform: uppercase;
    background: -webkit-linear-gradient(top, silver, #FFFFFF);
}
#header h1{
    line-height: 95px;
}
#header .leftIcons{
    width:35%;
    position: absolute;
    top: 4%;
}
#header .leftIcons img{
    margin-right: 5%;
    opacity: 0.2;
}
#header .rightIcons{
    width:35%;
    position: absolute;
    top: 4%;
    left: 65%;
}
#header .rightIcons img{
    margin-right: 5%;
    opacity: 0.2;
}
/*content*/
#content{
	height: 75%;
    position: relative;
    background: url("../images/mainbackground.jpg") 50% 50% no-repeat;
    background-size: 70% 100%;
}
#content .firstline, .secondline{
    text-align: center;
}
#content .firstline .item, .secondline .item{
    display: inline-block;
    margin: 4.7%;
    border: 1px solid grey;
    border-radius: 20px 20px 20px 20px;
    position: relative;
    background: gainsboro;
}
#content .firstline .item img, .secondline .item img{
    border-bottom: 1px solid grey;
}
#content .firstline .item .icon, .secondline .item .icon {
    height: 4%;
    padding: 1%;
    border-radius: 0 0 20px 20px;
}
#content .firstline .item .icon h3, .secondline .item .icon h3{
    margin: 0;
    text-transform: uppercase;
    color: dimgrey;
}
/*footer*/
#footer{
	height: 15.19%;
    background: -webkit-linear-gradient(top, #FFFFFF, #5EB9FF);
}
