@CHARSET "UTF-8";
body{
	margin:0;
	padding:0;
}
/*header*/
#header{
	height: 10%;
	text-align: center;
	text-transform: uppercase;
    background: -webkit-linear-gradient(top, silver, #FFFFFF);
    display: flex;
    box-sizing: border-box;
}
#header .leftIcons{
    width:30%;
    float: left;
}
#header h1{
    width: 40%;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
    margin: auto;
    float:left;
}
#header .leftIcons img{
    width: 2em;
    height: auto;
    margin-right: 5%;
    opacity: 0.1;
}
#header .rightIcons{
    width:30%;
    float: left;
}
#header .rightIcons img{
    width: 2em;
    height: auto;
    margin-right: 5%;
    opacity: 0.1;
}
/*content*/
#content{
    clear: both;
	height: 80%;
    background: url("../images/mainbackground.jpg") 50% 50% no-repeat;
    background-size: 70% 100%;
    box-sizing: border-box;
    border-bottom: 0.5px solid silver;
    border-top: 0.5px solid silver;
}
#content .firstline, .secondline{
    height: 50%;
    text-align: center;
    box-sizing: border-box;
}
#content .firstline .item, .secondline .item{
    display: inline-block;
    width: 9%;
    height:50%;
    margin: 5%;
    border: 1px solid grey;
    border-radius: 20px 20px 20px 20px;
    background: gainsboro;
}
#content .firstline .item:hover ,#content .secondline .item:hover{
    background: whitesmoke;
}
#content .firstline .item img, .secondline .item img{
    width: 100%;
    height:85%;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid grey;
}
#content .firstline .item .icon, .secondline .item .icon {
    margin: 0;
    height: 14%;
    border-radius: 0 0 20px 20px;
}
#content .firstline .item .icon h3,
#content .secondline .item .icon h3{
    margin: 0;
    height: 100%;
    border-radius: 0 0 20px 20px;
    text-transform: uppercase;
    color: dimgrey;
}
/*footer*/
#footer{
	height: 10%;
    background: -webkit-linear-gradient(top, #FFFFFF, silver);
    box-sizing: border-box;
}
